name: CI Monitoring Workflow
on:
  pull_request:
    branches:
      - dev
    paths:
      - 'monitoring/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-prometheus:
    uses: ./.github/workflows/ci-monitoring.yaml
    with:
      monitoring-tool: 'prometheus'
  test-grafana:
    uses: ./.github/workflows/ci-monitoring.yaml
    with:
      monitoring-tool: 'grafana'
